/* =================================
   Case Choose List
==================================== */

.case-choose-list {
   width: 100%;
   height: max-content;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 20px;
}

.case-choose-list-block {
   width: 100%;
   height: max-content;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 10px;
}

/* =================================
   MEDIA
==================================== */

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 500px) {}

@media (max-width: 425px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}

/* ============ END :) ============ */