/* =================================
   Case Preview List
==================================== */

.case-preview-list {
   padding: 10px;
   width: 100%;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 5px;
}

.case-preview-list:empty {
   position: relative;
   padding: 10px;
}

.case-preview-list:empty::after {
   content: "NO CASES";
   width: 100%;
   height: 100px;

   display: flex;
   align-items: center;
   justify-content: center;

   border-radius: 4px;
   background-color: rgba(255, 255, 255, 0.1);
}

/* =================================
   MEDIA
==================================== */

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 500px) {}

@media (max-width: 425px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}

/* ============ END :) ============ */