/* =================================
   NORMALIZE
==================================== */

* {
   box-sizing: border-box;
   /* scroll-behavior: smooth; */
   -webkit-tap-highlight-color: var(--app-tap-bg);
   line-height: 1;
}

html {
   font-family: var(--app-font-family);
   font-size: var(--app-font-size);
   font-style: var(--app-font-style);
   font-weight: var(--app-font-weight);
   color: var(--app-text-color);
}

::selection {
   text-shadow: none;
   background-color: var(--app-text-bg-selection);
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
address,
big,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
main,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
   margin: 0;
   padding: 0;
   border: 0;
   vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
   margin: 0;
}

ol,
ul {
   list-style: none;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

body {
   line-height: 1.15;
}

h1 {
   margin: 0;
   font-size: 2em;
}

a {
   background-color: transparent;
   text-decoration: none;
}

b,
strong {
   font-weight: 500;
}

small {
   font-size: 80%;
}

figure {
   margin: 1em 40px;
}

img {
   border-style: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
   cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
   border: 0;
   padding: 0;
}

textarea {
   overflow: auto;
}

[hidden] {
   display: none;
}

[clear] {
   clear: both;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

hr {
   display: block;
   margin: 1em 0;
   border: 0;
   border-top: 1px solid #ccc;
   padding: 0;
   height: 1px;
}

button,
input {
   outline: none;
}

/* =================================
   MEDIA
==================================== */

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 500px) {}

@media (max-width: 425px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}

/* ============ END :) ============ */