/* =================================
   WRAPPER
==================================== */

body {
   overflow-x: hidden;

   background: var(--app-bg-color-1);
}

.no-scroll {
   overflow: hidden;
}

#wrapper {
   z-index: var(--app-z-2);
   position: relative;
   overflow: hidden;

   min-width: 320px;
   min-height: 100lvh;
   height: auto;
   width: 100lvw;
}

/* =================================
   APP
==================================== */

.app {
   position: relative;
   min-height: 100vh;
   width: 100%;

   scrollbar-width: none;
}

.app::-webkit-scrollbar {
   display: none;
}

.app-container {
   margin: 0 auto;
   max-width: 800px;
   min-height: 100lvh;
   width: 100%;
}

/* =================================
   MAIN
==================================== */

.main {
   position: relative;
   padding: 40px 15px 100px 15px;
   min-height: 100lvh;
   width: 100%;
}

/* =================================
   MEDIA
==================================== */

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 500px) {}

@media (max-width: 425px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}

/* ============ END :) ============ */