/* =================================
   Menu
==================================== */

.menu {
   z-index: var(--app-z-2);
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;

   padding: 0 0 10px 0;
   width: 100lvw;
   height: 70px;

   display: flex;
   align-items: center;
   justify-content: start;

   border-top: 1px solid rgba(255, 255, 255, 0.2);
   background-color: var(--app-bg-color-4);
}

.menu-container {
   margin: 0 auto;
   padding: 6px 15px 6px 15px;
   max-width: 800px;
   width: 100%;
   height: 100%;

   display: flex;
   align-items: center;
   justify-content: start;
   gap: 6px;
}

/* =================================
   Menu Item
==================================== */

.menu-item {
   --svg-icon-color: rgba(255, 255, 255, 0.8);

   flex: 0 0 auto;
   padding: 6px 0px 5px 0px;
   height: 100%;
   width: 70px;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;

   border-radius: 4px;
   /* background-color: rgba(255, 255, 255, 0.1); */

   cursor: pointer;
}

.menu-item-active {
   --svg-icon-color: var(--app-text-color-4);
   background-color: var(--app-bg-color-5);
}

.menu-item-name {
   font-size: 10px;
   font-weight: 600;
   text-transform: uppercase;
   color: var(--svg-icon-color);
}

/* =================================
   MEDIA
==================================== */

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 500px) {}

@media (max-width: 425px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}

/* ============ END :) ============ */