/* =================================
   Screen
==================================== */

.screen {
   z-index: var(--app-z-4);
   overflow: hidden;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   min-width: 320px;
}

/* =================================
   Content
==================================== */

.screen-overflow {
   z-index: 2;
   position: relative;
   overflow-x: hidden;
   overflow-y: auto;
   width: 100%;
   height: 100%;
}

.screen-container {
   margin: 0 auto;
   width: 100%;
   min-height: 100lvh;
}

.screen-content {
   position: relative;
   width: 100%;
   min-height: 100lvh;
   /* 
   display: flex;
   align-items: center;
   justify-content: end; */
}

/* =================================
   Backdrop
==================================== */

.screen-backdrop {
   z-index: 1;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.7);
}

/* =================================
   MEDIA
==================================== */

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 500px) {}

@media (max-width: 425px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}

/* ============ END :) ============ */