/* =================================
   Case Page
==================================== */



/* =================================
   MEDIA
==================================== */

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 500px) {}

@media (max-width: 425px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}

/* ============ END :) ============ */