/* =================================
   Case Page
==================================== */

.page-case {
   padding: 0px 5px;
   width: 100%;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.case-editor-block {
   width: 100%;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 20px;
}

/* =================================
   Case Title
==================================== */

.case-editor-title {
   width: 100%;
   height: 30px;

   display: grid;
   grid-template-columns: 30px 1fr;
   grid-template-rows: 30px;
   align-items: center;
   justify-content: center;
   gap: 5px;
}

.case-editor-img-container {
   width: 30px;
   height: 30px;
}

.case-editor-img {
   width: 100%;
   height: 100%;
}

.case-editor-text-input {
   width: 100%;
   height: 100%;
   padding: 2px 2px;

   font-size: var(--app-font-family);
   font-size: 20px;
   font-weight: 700;
   color: var(--app-text-color-4);

   text-transform: uppercase;

   border: transparent;
   background-color: transparent;
}

/* =================================
   Case Tabs
==================================== */

.case-editor-tabs {
   position: relative;
   width: 100%;
   height: 30px;

   display: flex;
   align-items: center;
   justify-content: start;
   gap: 4px;

   border-bottom: 2px solid var(--app-bg-color-6);
}

.case-tab {
   padding: 0 12px;
   height: 100%;

   display: flex;
   align-items: center;
   justify-content: center;

   font-size: 12px;
   font-weight: 600;
   text-transform: capitalize;
   color: rgba(0, 151, 206, 0.8);

   cursor: pointer;

   border-radius: 4px 4px 0 0;
   background-color: rgba(0, 151, 206, 0.2);
}

.case-tab-active {
   color: var(--app-text-color);
   background-color: rgba(0, 151, 206, 1);
}

.case-editor-tab-content {
   padding: 0 10px;
   width: 100%;
}

.raw {
   font-family: var(--app-font-family-mono);
   font-size: 12px;
   line-height: 1.4;
}

/* =================================
   MEDIA
==================================== */

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 500px) {}

@media (max-width: 425px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}

/* ============ END :) ============ */