/* =================================
   Price
==================================== */

.price {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 4px;
}

.price-value {
   font-size: 12px;
   font-weight: 600;
   color: var(--app-text-color-5);
}

.price-coin {
   width: 14px;
   height: 14px;
}

.price-coin-img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

/* =================================
   MEDIA
==================================== */

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 500px) {}

@media (max-width: 425px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}

/* ============ END :) ============ */