/* =================================
   Modal Select
==================================== */

.modal-select {
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;

   padding: 40px 0 40px 0;
   width: 600px;

   border: 1px solid rgba(255, 255, 255, 0.1);
   background-color: var(--app-bg-color-1);
}

.modal-select-container {

   overflow-y: auto;
   overflow-x: hidden;

   padding: 0px 30px 0px 30px;
   width: 100%;
   height: 100%;

   scroll-behavior: smooth;
   scrollbar-width: none;
}

.modal-select-container::-webkit-scrollbar {
   display: none;
}

/* =================================
   Modal Select Button Close
==================================== */

.modal-select-btn-close {
   position: absolute;
   left: -20px;
   top: 20px;

   width: 40px;
   height: 40px;

   display: flex;
   align-items: center;
   justify-content: center;

   border-radius: 20px;
   border: 1px solid rgba(255, 255, 255, 0.1);
   background-color: var(--app-bg-color-1);

   cursor: pointer;
}

.modal-select-btn-close::after {
   content: "";

   width: 30px;
   height: 30px;

   border-radius: 15px;
   background-color: #ce2a11;
}

/* =================================
   MEDIA
==================================== */

@media (max-width: 1024px) {
   .modal-select {
      top: auto;
      right: 0;
      left: 0;
      bottom: 0;

      width: 100%;
      height: 70%;

      border-radius: 20px 20px 0 0;
   }

   .modal-select-container {
      padding: 0px 20px 0px 20px;

   }

   .modal-select-btn-close {
      top: -20px;
      left: 50%;
      transform: translateX(-50%);
   }
}

@media (max-width: 768px) {}

@media (max-width: 500px) {}

@media (max-width: 425px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}

/* ============ END :) ============ */