/* =================================
   Topic
==================================== */

.topic-2 {
   padding: 2px 0px 2px 0px;
   width: 100%;
   font-size: 16px;
   font-weight: 600;
   text-transform: uppercase;
   color: var(--app-text-color-3);
}

/* =================================
   MEDIA
==================================== */

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 500px) {}

@media (max-width: 425px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}

/* ============ END :) ============ */