/* =================================
   Button
==================================== */

.button {
   padding: 0 10px;
   height: 30px;

   display: flex;
   align-items: center;
   justify-content: center;

   border-radius: 4px;
   background-color: var(--btn-bg-main-color);

   cursor: pointer;
}

.button-content {
   font-size: 12px;
   font-weight: 600;
   color: var(--app-text-color);
}

.button:hover {
   background-color: var(--btn-bg-hover-color);
}

.button:hover .button-content {
   color: var(--app-text-color);
}

.button-disable {
   cursor: auto;
}

/* =================================
   Button Types
==================================== */

[data-type="default"] {
   --btn-bg-main-color: #006083;
   --btn-bg-hover-color: #0097ce;
}

[data-type="disable"] {
   --btn-bg-main-color: rgba(255, 255, 255, 0.1);
   --btn-bg-hover-color: rgba(255, 255, 255, 0.1);
}

[data-type="green"] {
   --btn-bg-main-color: #4c8300;
   --btn-bg-hover-color: #5d9f00;
}

[data-type="red"] {
   --btn-bg-main-color: #c61c02;
   --btn-bg-hover-color: #ce2a11;
}

[data-type="yellow"] {
   --btn-bg-main-color: #9a5b02;
   --btn-bg-hover-color: #ba6c00;
}

/* =================================
   MEDIA
==================================== */

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 500px) {}

@media (max-width: 425px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}

/* ============ END :) ============ */